#mainContent{
    width: 900px;
    margin: 0 auto;
    text-align: left;
    padding: 0;
    height: 100%
}
.section{
    width: 400px;
    float: left;
    margin-right: 40px;
    background-repeat: no-repeat;
    position: relative
}

div.section.one{
    background-image: url("nails2.jpg")
}